.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 30px;
}

.contentSection {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}

.brand {
    align-self: center;
    font-size: 36px;
    color: #1e22aa;
    font-family: 'DM Sans';
    font-weight: 500;
    line-height: normal;
}

.mainImage {
    width: 1120px;
    max-width: 100%;
    ;
    border-radius: 8px;
}