<section style="display: flex; height: 80px; background-color: #fff; justify-content: center; align-items: stretch;">

    <div style="display: flex; width: 80%; align-items: flex-end; justify-content: space-between;">
        <a (click)="navigateByUrl('')" style="color: #1e22aa; font-size: 30px; font-family: 'DM Sans'; font-weight: 500; text-decoration: none;">MJV</a>

        <div style="display: flex; flex-wrap: wrap;">
            <a (click)="navigateByUrl('signin')" mat-button style="color: #1e22aa; margin-right: 10px; font-size: 18px;">Entrar</a>
            <a (click)="navigateByUrl('signup')" mat-button style="color: #1e22aa; font-size: 18px;">Cadastrar</a>
        </div>
    </div>

</section>